<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.further.x" >
    <application>
        <activity android:name="com.further.x.record.RecordListActivity"/>
        <activity android:name="com.further.x.weather.WeatherActivity"
            android:theme="@style/Translucent"/>
    </application>
</manifest>
