<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.further.run">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.READ_PHONE_NUMBERS" />
    <uses-permission android:name="android.permission.SYSTEM_OVERLAY_WINDOW" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <application
        android:name=".main.FurApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"

        android:appComponentFactory=""
        tools:replace="android:appComponentFactory">
        <activity
            android:name=".main.MainActivity">

        </activity>
        <activity
            android:name=".media.SplashActivity"
            android:theme="@style/Splash"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".designpatterns.DesignPatternsActivity" />
        <activity android:name=".concurrent.ConcurrentTestActivity" />
        <activity android:name=".labzone.eventdispatch.EventDispatchActivity" />
        <activity android:name=".anno.AnnoActivity" />
        <activity android:name=".labzone.aidltest.AidlActivity" />
        <activity android:name=".labzone.hugeimagetest.HugeImageActivity" />
        <activity
            android:name=".labzone.launchmode.SingleInstanceTestActivity"
            android:label="@string/title_activity_scrolling"
            android:launchMode="singleInstance"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".labzone.launchmode.SingleTaskTestActivity"
            android:launchMode="singleTask" />
        <activity android:name=".labzone.glide.GlideShowActivity" />
        <activity android:name=".labzone.optimize.OptimizeActivity" />
        <activity android:name=".labzone.handlerthread.HandlerThreadTestActivity" />
        <activity android:name=".labzone.recyclerview.DoubleRecyclerViewActivity" />
        <activity android:name=".labzone.hugeimagetest.ImageThumbActivity" />
        <activity android:name=".Setting.FragmentManagerActivity" />

        <service android:name=".labzone.aidltest.AidlService"/>
        <service android:name=".customview.SuspendViewService" />

        <activity
            android:name=".labzone.launchmode.ScrollingActivity"
            android:label="@string/title_activity_scrolling"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".labzone.dir.DirActivity"/>
        <activity android:name=".Setting.SettingManagerActivity"/>

        <activity android:name=".media.SurfaceActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>
        <activity android:name=".media.VideoViewActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>
        <activity android:name=".media.TextureViewActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>
        <service android:name=".media.SplashMediaService"/>

    </application>

</manifest>